

<h1> ABOUT US</h1>

<p>
Interior Design Media is the global, industry-leading design publication, website and events company serving the interior design, architectural and facility management audiences. For over 80 years, Interior Design magazine—published by SANDOW, which builds smart businesses driven by innovation and design—has been the essential design authority for every professional, on all projects, throughout the design process. Interior Design Events connects the industry, promoting creative leadership, innovation and collaboration across a wide range of practice areas and platforms. Interior Design’s digital companion, interiordesign.net, is the go-to site for relevant and real-time content for the industry's largest and most engaged design audience.</p>
