<div class="center jumbotron">
  

<h1>WELCOME TO THE DESIGNERS WORLD</h1>
<h2>Let's make your place beautiful..
</h2>
<p>INTERIOR DESIGIG IS MAKING BEST USE OF AVAILABLE SPACE</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("quote.jpg", alt: "design_logo") %>
